# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/


# =========================
# Environment Variables / API Keys
# =========================
.env


# =========================
# Python Cache
# =========================
__pycache__/
*.pyc
*.pyo


# =========================
# Vector Databases
# =========================
chroma_db/
.chroma/
faiss_index/


# =========================
# IDE Settings
# =========================
.vscode/
.idea/


# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db